<div id="main" class="container3">
	<table>
		<thead>
		</thead>
		<tbody>
			<tr>
				<td><img ng-src="{{vm.player.image}}" height="100px"
					width="100px"></td>
				<td>
					<table>
						<tbody>
							<tr>
								<td></td>
								<td>Player id:</td>
								<td>{{vm.player.id}}</td>
							</tr>
							<tr>
								<td></td>
								<td>First Name:</td>
								<td>{{vm.player.fname}}</td>
							</tr>
							<tr>
								<td></td>
								<td>Last Name:</td>
								<td>{{vm.player.lname}}</td>
							</tr>
							<tr>
								<td></td>
								<td>Username:</td>
								<td>{{vm.player.username}}</td>
							</tr>
							<tr>
								<td></td>
								<td>Email:</td>
								<td>{{vm.player.email}}</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<hr>
	<button ng-click='vm.toggleModal()'>Open Modal Dialog</button>
	<modal-dialog show='vm.modalShown' width='750px' height='60%'>
		<p>Modal Content Goes here<p>
	</modal-dialog>
	
	
	<h3>Games</h3>
	<div>
		<!-- class="divline" -->
		<table>
			<thead>
			</thead>
			<tbody>

				<tr ng-repeat="game in vm.games">
					<td><img ng-src="{{game.image}}"
						height="60px" width="60px"></td>
					<td>{{game.name}}</td>
					<td><button class="button" ng-click="vm.removeGame(game)">Remove</button></td>
				<!-- </tr>
				<tr> -->
				</tr>

			</tbody>
		</table>
	</div>
	<br class="clearBoth" />
	<hr>


	<h3>Teams</h3>
	<button ng-click="vm.displayForm()">Make Team</button>
	<div ng-repeat="team in vm.teams">
		<table>
			<thead>
			</thead>
			<tbody>
				<tr>
					<td ng-click="goToTheTeamPageAndViewOtherPlayersInTheTeam">
					<img ng-src="{{team.image}}" height="60px" width="60px"></td>
				</tr>
				<tr>
					<td>{{team.name}}</td>
					<td><button class="button" ng-click="vm.leaveTeam(team)">Leave</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- Put the form in modal once it works -->
	<div id="share-options">
		<form ng-hide="vm.showTeamForm">
			<fieldset class="form-register">
				<label for="InputTeamName">Team Name: </label>
			  	<input type="text" class="form-control" id="InputTeamName" ng-model="vm.team.name" placeholder="{{vm.team.name}}" required>
				<br>
				<label for="InputTeamPic">Team Image URL: </label>
			  	<input type="text" class="form-control" id="InputTeamPic" ng-model="vm.team.image" placeholder="Team Picture URL">
				<br>
				<label for="SelectGame">Game: </label> 
				<select ng-model="newgame">
					<option ng-repeat="game in vm.games" value="{{game.id}}" required>{{game.name}}</option>
				</select>
				<br>	
				<label for="InputTeamSize">Team Size: </label>
		    	<input type="number" class="form-control" id="InputTeamSize" placeholder="Team Size" min="2" max="50"/> <!-- add team size to db -->
				<br>
				<button type="submit" class="btn btn-primary" ng-click="vm.newTeam(newteam, newgame); ">Create Team</button>
				<button type="submit" class="btn btn-primary" ng-click="vm.cancelButton()">Cancel</button>
	  		</fieldset>
		</form>
	</div>
</div>