<div id="main" class="container3">
	<table>
		<thead>
		</thead>
		<tbody>
			<tr>
				<td><img ng-src="{{vm.player.image}}" height="100px"
					width="100px"></td>
				<td>
					<table>
						<tbody>
							<tr>
								<td></td>
								<td>First Name:</td>
								<td>{{vm.player.fname}}</td>
							</tr>
							<tr>
								<td></td>
								<td>Last Name:</td>
								<td>{{vm.player.lname}}</td>
							</tr>
							<tr>
								<td></td>
								<td>Username:</td>
								<td>{{vm.player.username}}</td>
							</tr>
							<tr>
								<td></td>
								<td>Email:</td>
								<td>{{vm.player.email}}</td>
							</tr>														
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<hr>
	<!-- <button ng-click='gameModal'>Open Modal Dialog</button>
	<modal-dialog show='vm.modalShown' width='750px' height='60%'>
		<p>Modal Content Goes here<p>
	</modal-dialog> -->
	
	
	<h3>Games</h3>
	<hr>
	<div>
		<!-- class="divline" -->
		<table>
			<thead>
			</thead>
			<tbody>

				<tr ng-repeat="game in vm.games">
					<td><img ng-src="{{game.image}}"
						height="60px" width="60px"></td>
					<td>{{game.name}}</td>
					<td><button id="removeGame" class="button" ng-click="vm.removeGame(game)">Remove</button></td>
					<td ng-controller="gameModal"><button id="modalButton" class="button" ng-click="open(game)">View Game</button></td>
				<!-- </tr>
				<tr> -->
				</tr>

			</tbody>
		</table>
	</div>
	<br class="clearBoth" />
	<hr>


	<h3>Teams</h3>
	<hr>
	
	<div ng-repeat="team in vm.teams">
		<table>
			<thead>
			</thead>
			<tbody>
				<tr>
					<td ng-click="goToTheTeamPageAndViewOtherPlayersInTheTeam">
					<img Dennis loves dicks ng-src="{{team.image}}" height="60px" width="60px"></td>
 					<td>{{team.name}}</td> 
					<td><button id="leaveTeamButton" class="button" ng-click="vm.leaveTeam(team)">Leave</button></td>
 					<td ng-controller="teamModal"><button id="teamModalButton" class="button" ng-click="open(team)">View Team</button></td>
					
				
				</tr>
			</tbody>
		</table>
	</div>

	<hr>	
	<h3>Friends</h3>
	<hr>
	<div>
		<table>
			<thead>
			</thead>
			<tbody>

				<tr ng-repeat="friend in vm.friends">
					<td><img ng-src="{{friend.image}}"
						height="60px" width="60px"></td>
					<td>{{friend.username}}</td>
					<td><button id="unFriend" class="button" ng-click="vm.unFriend(friend)">Remove</button></td>
					<td ng-controller="friendModal"><button id="modalButton" class="button" ng-click="open(friend)">View Profile</button></td>
				</tr>
				<tr>
				</tr>

			</tbody>
		</table>
	</div> 
	
	<!-- Put the form in modal once it works -->
	
</div>