<div class="container2">

	<form>
	  <fieldset class="form-register">

			<!-- <label for="InputFirstName">First Name: </label> -->
		  	<input type="text" class="form-control" id="InputFirstName" ng-model="newuser.fname" placeholder="First Name">
			<br>
			<!-- <label for="InputLastName">Last Name: </label> -->
		  	<input type="text" class="form-control" id="InputLastName" ng-model="newuser.lname" placeholder="Last Name">
			<br>
		   <!-- <label for="InputEmail">Email address: </label> -->
		   <input type="email" class="form-control" id="InputEmail" ng-model="newuser.email" placeholder="Email">
			<br>
			<!-- <label for="InputUsername">Username: </label> -->
	    	<input type="text" class="form-control" id="InputUsername" ng-model="newuser.username" placeholder="Username">
			<br>
	    	<!-- <label for="InputPassword">Password: </label> -->
	    	<input type="password" class="form-control" id="InputPassword" ng-model="newuser.password" placeholder="Password">
			<br>
	  </fieldset>

	</form>
	  <button type="submit" class="btn btn-primary" ng-click="vm.register(newuser)">Register</button>
	  <button type="submit" class="btn btn-primary" ng-click="vm.cancel()">Cancel</button>

</div>
