<div class="container" id="aboutGGO">

	<h1 class="headers"><em>GGOnline</em></h1>
	<h3 class="headers"><em>Who are we?</em></h3>
	<p class="aboutParagraph">
		We're gamers, just like you.
	</p>
	<h3 class="headers"><em>What is GGOnline?</em></h3>
	<p class="aboutParagraph">
		GGOnline is the Facebook of the gaming community. A place where gamers from all walks of life, skill levels, and interests can meet & team up to play their favorite games together.

	</p>
	<h3 class="headers"><em>What we strive for</em></h3>
	<p class="aboutParagraph">
		To create a friendly community based environment for gamers.
	</p>
	<button class="button"  ng-click="vm.rerouteToLogin()">Return to Login</button>

</div>
