<div>
<!--     <script type="text/ng-template" id="myModalContent.html"> -->
        <div class="modal-header">
            <h3 class="modal-title">{{game.name}}</h3>
        </div>
        <div class="modal-body">
            
            <ul>
            		
                <li>
                  <img id="gameModalImage" src={{game.image}}/><br>
                </li>
                <li>
                   Genera: {{game.genra}}<br>
                </li>
                <li>
                   Rating: {{game.rating}}<br>
                </li>
                <li>
                		Description: {{game.description}}
                </li>
            </ul>
            
<!--             <button class="button" ng-click="removeGame()">Un-follow</button> -->
            <button class="button" ng-click="cancel()">Go Back</button>
           
        </div>
        
    <!-- </script> -->

   
</div>