<div id="share-options" class="container3">
		<form>
			<fieldset class="form-register">
				<label for="InputTeamName">Team Name: </label>
			  	<input type="text" class="input-box" id="InputTeamName" ng-model="newteam.name" placeholder="Team Name" required>
				<br>
				<label for="InputTeamPic">Team Image URL: </label>
			  	<input type="text" class="input-box" id="InputTeamPic" ng-model="newteam.image" placeholder="Team Picture URL">
				<br>
				<label for="SelectGame">Game: </label> 
				<select ng-model="newgame" class="input-box" id="SelectGame">
					<option ng-repeat="game in vm.games" value="{{game.id}}" required>{{game.name}}</option>
				</select>
				<br>	
				<label for="InputTeamSize">Team Size: </label>
		    	<input type="number" class="input-box" id="InputTeamSize" placeholder="Team Size" min="2" max="50"/> <!-- add team size to db -->
				<br>
				<button type="submit" class="button" ng-click="vm.newTeam(newteam, newgame); vm.addTeam(); vm.redirect();">Create Team</button>
				<button type="submit" class="button" ng-click="vm.cancelButton(); vm.redirect();">Cancel</button>
	  		</fieldset>
		</form>
	</div>