
<div id="main">
	<div class="card">
		<div id="searchDiv">
			<form>
				<input type="text" placeHolder="Search By Name"
					ng-model="vm.playerSearch">
			</form>
		</div> 
				<div class="content contentText">
		<table>
			<thead>
			<tbody class ="">
				<tr
					ng-repeat="player in vm.players| playerSearch : vm.playerSearch | orderBy: 'id'">

					<td>{{player.username}}</td>
					<td><button class="button" ng-click="vm.friendRequest(player.id)">Add Friend</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>


